{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'img/brain.svg' %}" sizes="16x16" type="image/svg">
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-bg {
            background-color: #f8f9fa; /* Set your custom background color here */
        }
    </style>
</head>

<body class="custom-bg">
    {% comment %} toast for error messages {% endcomment %}
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11;">
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <!-- Error message will be inserted here -->
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 right-0 p-3" style="z-index: 11;">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <!-- Error message will be inserted here -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <div class="text-center">
                    <h2 class="mb-4">Welcome to Intelligent-Quizz</h2>
                    <p>Just a collection of some random and interesting questions to catch your fancy and keep your brain active, very beginner level.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus velit eget enim varius, eget tincidunt risus rutrum.</p>
                    <p>Curabitur nec commodo ligula. Sed in mauris a odio vehicula gravida. Ut id sapien ac sapien tristique fringilla.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>
                <form id="loginform" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <p class="form-text">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
                    
                    <button type="submit" class="btn btn-primary btn-block">
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        <span class="button-text">Login</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Pass the URL of the login view to JavaScript
        const loginUrl = "{% url 'login' %}";
        const profileUrl = "{% url 'profile' %}";
    </script>
    <script src="{% static 'js/signin.js' %}"></script>
</body>
</html>
