{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-bg {
            background-color: #f8f9fa; /* Set your custom background color here */
        }
    </style>
</head>

<body class="custom-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <div class="text-center">
                    <h2 class="mb-4">Welcome to Intelligent-Quizz</h2>
                    <p>Just a collection of some random and interesting questions to catch your fancy and keep your brain active, very beginner level.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus velit eget enim varius, eget tincidunt risus rutrum.</p>
                    <p>Curabitur nec commodo ligula. Sed in mauris a odio vehicula gravida. Ut id sapien ac sapien tristique fringilla.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>
                <form id="loginform", method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <p class="form-text">Don't have an account? <a href="./register.html">Register</a></p>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
