{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        .user-info {
            margin-top: 20px;
        }
        .user-info .list {
            padding-left: 0;
        }
        .user-info .list-item {
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="./home.html">Intelligent-Quizz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./quiz.html">Take quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./profile.html">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <img src="#" alt="My Image" id="profilePic" style="width: 150px; height: 150px;" class="img-fluid d-block mx-auto">
            </div>
        </div>
        <div class="row user-info">
            <div class="col-md-6">
                {% if user %}
                <input type="text" id="username" name="username" class="form-control mb-3" placeholder="{{ user.email }}" readonly>
                <input type="password" id="password" name="password" class="form-control mb-3" placeholder="******" readonly>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="heading h5"><strong>Scores</strong></p>
                <ul class="list">
                    <li class="list-item">Subject 1 | Score</li>
                    <li class="list-item">Subject 2 | Score</li>
                    <li class="list-item">Subject 3 | Score</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>

</body>
</html>
