{% extends 'Authentication/base.html' %}
{% load static %}

    {% block title %}
    {% if user %}
    {{ user.first_name }} | Profile
    {% else %}
    Profile
    {% endif %}
    {% endblock %}
    {% block link %}
    <style>
        /* Custom styles */
        .user-info {
            margin-top: 20px;
        }
        .user-info .list {
            padding-left: 0;
        }
        .user-info .list-item {
            list-style: none;
        }
    </style>
    {% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
                <img src="#" alt="My Image" id="profilePic" style="width: 150px; height: 150px;" class="img-fluid d-block mx-auto">
            </div>
        </div>
        <div class="row user-info">
            <div class="col-md-6">
                {% if user %}
                <p type="text" class="form-control mb-3" >{{ user.first_name }} {{ user.last_name }}</p>
                
                <input type="password" id="password" name="password" class="form-control mb-3" placeholder="******" readonly>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="heading h5"><strong>Scores</strong></p>
                <table class="table">
                    {% if scores %}

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Quiz</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}

                        <tr>
                            <th scope="row"></th>
                            <td>{{ score.quiz }}</td>
                            <td>{{ score.score }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                        {% else %}
                        <li class="list-item"> You currently haven't taken any quiz yet</li>
                            {% endif %}
                </table>
            </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
          </div>
    {% endblock %}
{% block script %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
