{% extends 'Authentication/base.html' %}
{% load static %}

    {% block title %}
    {% if user %}
    {{ user.first_name }} | Profile
    {% else %}
    Profile
    {% endif %}
    {% endblock %}
    {% block link %}
    <style>
        /* Custom styles */
        .user-info {
            margin-top: 20px;
        }
        .user-info .list {
            padding-left: 0;
        }
        .user-info .list-item {
            list-style: none;
        }
    </style>
    {% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
                <img src="#" alt="My Image" id="profilePic" style="width: 150px; height: 150px;" class="img-fluid d-block mx-auto">
            </div>
        </div>
        <div class="row user-info">
            <div class="col-md-6">
                {% if user %}
                <p type="text" class="form-control mb-3" >{{ user.first_name }} {{ user.last_name }}</p>
                
                <input type="password" id="password" name="password" class="form-control mb-3" placeholder="******" readonly>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="heading h5"><strong>Scores</strong></p>
                <ul class="list">
                    {% if scores %}
                        {% for score in scores %}
                            <li class="list-item">{{ score.quiz }} | {{ score.score }}</li>
                            {% endfor %}
                            {% else %}
                            <li class="list-item"> You currently haven't taken any quiz yet</li>
                            {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
{% block script %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
