{% extends 'Authentication/base.html' %}
{% load static %}
{% block title %}Start Quiz{% endblock %}
    {% block link %}
    <style>
        /* Custom styles */
        body {
            margin-top: 50px;
        }

        .question-container {
            width: 100%;
            height: auto;
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }

        .answer-options {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .answer-option {
            margin-bottom: 10px;
            width: 100%;
        }

        .centered-buttons {
            display: flex;
            justify-content: center;
        }

        .category-list {
            padding-left: 0;
        }

        .category-list-item {
            list-style: none;
            cursor: pointer;
            padding: 10px;
            margin-bottom: 10px;
            {% comment %} font-weight: 900; {% endcomment %}
        }

        .aside-column {
            padding: 20px;
            border-right: 1px solid #ccc;
        }
        .category-list-item:hover {
            background-color: #f0f0f0;
        }
        .category-description {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 1;
        }
    </style>
    {% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-3 aside-column">
                <h4>Select Quiz Type</h4>
                <ul class="category-list">
                    {% if quizes %}
                        {% for quiz in quizes %}
                            <li class="category-list-item" data-description="{{ quiz.description }}">
                                <input type="radio" name="quiz_type" id="{{ quiz.id }}" value="{{ quiz.id }}">
                                <label for="{{ quiz.id }}">{{ quiz.title }}</label>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="category-list-item">Quiz Categories not yet available</li>
                    {% endif %}
                </ul>
                <button class="btn btn-primary">Start Quiz</button>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="question-container">
                            <div class="ques">This is the question</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="answer-options">
                            <button class="btn btn-primary answer-option">Option 1</button>
                            <button class="btn btn-primary answer-option">Option 2</button>
                            <button class="btn btn-primary answer-option">Option 3</button>
                            <button class="btn btn-primary answer-option">Option 4</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="btn-group centered-buttons">
                            <button class="btn btn-primary mr-2">Next</button>
                            <button class="btn btn-primary mr-2">Previous</button>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}
