{% extends "Authentication/base.html" %}
{% load custom_filter %}
{% load static %}
{% block title %}
View corrections
{% endblock %}
{% block link %}
    <style>
        .corrections{
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
        .correct {
            background-color: #4CAF50; /* Green */
            color: white;
        }
        .incorrect {
            background-color: #BF211E; /* Red */
            color: white;
        }
        .lead {
            font-weight: bold;
        }
        .small {
            font-size: 0.9em;
        }
        .bold {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="aside-column col-md-4">
        {% comment %} <table class="table">
            <thead>
                <th scope="col">Quiz Name</th>
                <th scope="col">Your Score</th>
                <th scope="col">Correctly Answered</th>
                <th scope="col">Skipped</th>
                <th scope="col">InCorrectly Answered</th>
                <th scope="col">No of Questions</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quiz.title }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ correct_question }}</td>
                    <td>{{ skipped }}</td>
                    <td>{{ incorrect_question }}</td>
                    <td>{{allQuestion }}</td>
                </tr>
            </tbody>
        </table> {% endcomment %}
        <div class="container text-center">
            <div class="row align-items-start mb-2">
                <div class="col">
                    Quiz Title
                    <p class="h3">{{ quiz.title }}</p>
                </div>
            </div>
            <div class="row pie align-items-center"></div>
            <div class="row align-items-end">
                <div class="col border border-secondary shadow-sm p-2 mb-5 bg-body-tertiary rounded">
                    <span class="small">Your Score</span>
                        <p class="h5">{{ score.score }}</p>
                    
                </div>
                <div class="col border border-secondary shadow-sm p-2 mb-5 bg-body-tertiary rounded">
                    <span class="small">Correct Answers</span>
                        <p class="h5">{{ correct_question }} </p>
                    
                </div>
                <div class="col border border-secondary shadow-sm p-2 mb-5 bg-body-tertiary rounded">
                    <span class="small">Skipped Question </span>

                        <p class="h5">{{ skipped }}</p>
                    
                </div>
                <div class="col border border-secondary shadow-sm p-2 mb-5 bg-body-tertiary rounded">
                    <span class="small">Wrong Answers </span>
                        <p class="h5">{{ incorrect_question }} </p>
                    
                </div>
                <div class="col border border-secondary shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <span class="small">All Questions </span>
                        <p class="h5">{{ allQuestion }} </p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        
        {% for ans in answers %}

        <div class="corrections {% if ans.option|is_correct_choice:ans.correct_options %}correct{% else %}incorrect{% endif %}">
            <p class="lead">{{ ans.question.question_text }}</p>
            <small class="text small ">Your choice</small>
            <p class="text bold">{{ ans.option.text }}</p>
            <small class="text small">Correct answer</small>
            {% for option in ans.correct_options %}
            <p class="text bold">{{ option.text }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
