<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
</head>
<body>
    <div class="container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="quiz" class="">Quiz Name</label>
                <input type="text" class="form-control" name="quiz_title" id="quiz">
            </div>
            <div class="form-group">
                <label for="quizDescr" class="">Quiz Description</label>
                <textarea name="quiz_descr" class="form-control font-monospace" id="quizDescr" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Create Quiz Type</button>
        </form>

    </div>
    
</body>
</html>