{% extends "main/base.html" %}
{% load static %}
{% block title %}
Create Quiz
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="quiz" class="">Quiz Name</label>
                <input type="text" class="form-control" name="quiz_title" id="quiz">
            </div>
            <div class="form-group">
                <label for="quizDescr" class="">Quiz Description</label>
                <textarea name="quiz_descr" class="form-control font-monospace" id="quizDescr" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Quiz Type</button>
        </form>

    </div>
    
{% endblock %}
