body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: rgb(74, 79, 87);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    margin: 1em;
    background: #a4a8a9;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(118, 118, 118, 0.695);

}
.display{
    height: 400px;
    width: 600px;
    background: #17264494;
    margin: 1em 2em;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
    border: 1px solid rgba(109, 108, 108, 0.456);
}
.buttons{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(118, 118, 118, 0.695);
}

.control{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

#generate span {
    display: none;
}

.custom {
    text-align: center;
    font-size: xx-large;
    color: blanchedalmond;
    box-sizing: content-box
}
